node_modules/
.DS_Store
.idea
*.DS_Store
npm-debug.log
bin/*
*.xproj
*.xproj.*
.vs/*
*.sln.*
*.sln
FilePath/*
wwwroot/FilePath/*

[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.vs/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*net45.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json